In [2]:
import pandas as pd
import numpy as np

In [3]:
df_movies_metadata = pd.read_csv('movies_metadata.csv')

/usr/local/Cellar/python/2.7.12/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
print(df_movies_metadata.columns)

Index([u'adult', u'belongs_to_collection', u'budget', u'genres', u'homepage',
       u'id', u'imdb_id', u'original_language', u'original_title', u'overview',
       u'popularity', u'poster_path', u'production_companies',
       u'production_countries', u'release_date', u'revenue', u'runtime',
       u'spoken_languages', u'status', u'tagline', u'title', u'video',
       u'vote_average', u'vote_count'],
      dtype='object')

In [5]:
df_movies_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173

In [6]:
df_movies_metadata.shape

(45466, 24)

In [7]:
df_movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.7+ MB

In [8]:
# Remove features that are not useful
df_movies_metadata = df_movies_metadata.drop(['imdb_id'], axis=1)

In [9]:
df_movies_metadata[df_movies_metadata['original_title'] != df_movies_metadata['title']][['title', 'original_title']].head()

                        title                    original_title
28  The City of Lost Children        La Cité des Enfants Perdus
29             Shanghai Triad                         摇啊摇，摇到外婆桥
32           Wings of Courage  Guillaumet, les ailes du courage
57                The Postman                        Il postino
58           The Confessional                  Le confessionnal

In [10]:
df_movies_metadata = df_movies_metadata.drop('original_title', axis=1)

In [11]:
df_movies_metadata['revenue'] = df_movies_metadata['revenue'].replace(0, np.nan)

In [12]:
df_movies_metadata['budget'] = pd.to_numeric(df_movies_metadata['budget'], errors='coerce')
df_movies_metadata['budget'] = df_movies_metadata['budget'].replace(0, np.nan)
df_movies_metadata[df_movies_metadata['budget'].isnull()].shape

(36576, 22)

In [13]:
# Drop Adult movies
df_movies_metadata['adult'].value_counts()

False                                                                                                                             45454
True                                                                                                                                  9
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 - Written by Ørnås                                                                                                                   1
Name: adult, dtype: int64

In [14]:
df_movies_metadata = df_movies_metadata.drop('adult', axis=1)

In [15]:
base_poster_url = 'http://image.tmdb.org/t/p/w185/'
df_movies_metadata['poster_path'] = base_poster_url + df_movies_metadata['poster_path']

In [16]:
# create the year feature
df_movies_metadata['year'] = pd.to_datetime(df_movies_metadata['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [17]:
# create the return feature
df_movies_metadata['return'] = df_movies_metadata['revenue'] / df_movies_metadata['budget']
df_movies_metadata[df_movies_metadata['return'].isnull()].shape
# Let's explore our dataset again
df_movies_metadata.head()

,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,poster_path,production_companies,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,en,"Led by Woody, Andy's toys live happily in his ...",21.9469,http://image.tmdb.org/t/p/w185//rhIRbceoE9lR4v...,"[{'name': 'Pixar Animation Studios', 'id': 3}]",...,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415,1995,12.451801
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,en,When siblings Judy and Peter discover an encha...,17.0155,http://image.tmdb.org/t/p/w185//vzmL6fP7aPKNKP...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",...,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,1995,4.043035
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",NaN,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,en,A family wedding reignites the ancient feud be...,11.7129,http://image.tmdb.org/t/p/w185//6ksm1sjKMFLbO7...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",...,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92,1995,NaN
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.85949,http://image.tmdb.org/t/p/w185//16XOMpEaLWkrcP...,[{'name': 'Twentieth Century Fox Film Corporat...,...,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34,1995,5.090760
4,"{'id': 96871, 'name': 'Father of the Bride Col...",NaN,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,en,Just when George Banks has recovered from his ...,8.38752,http://image.tmdb.org/t/p/w185//e64sOI48hQXyru...,"[{'name': 'Sandollar Productions', 'id': 5842}...",...,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173,1995,NaN

In [173]:
# Filter only on Science Fiction and Fantasy
df_movies_sff = df_movies_metadata[df_movies_metadata['genres'].str.contains("Science Fiction|Fantasy")]
df_movies_sff.shape

(4844, 23)

In [174]:
# Let's explore our dataset again
df_movies_sff.head()

,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,poster_path,production_companies,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,en,When siblings Judy and Peter discover an encha...,17.0155,http://image.tmdb.org/t/p/w185//vzmL6fP7aPKNKP...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",...,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,1995,4.043035
23,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,en,Harassed by classmates who won't accept his sh...,12.1331,http://image.tmdb.org/t/p/w185//1uRKsxOCtgz0xV...,"[{'name': 'Caravan Pictures', 'id': 175}, {'na...",...,111,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143,1995,NaN
28,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,fr,A scientist in a surrealist society kidnaps ch...,9.82242,http://image.tmdb.org/t/p/w185//eVo6ewq4akfyJY...,"[{'name': 'Procirep', 'id': 311}, {'name': 'Co...",...,108,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308,1995,0.096589
31,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,en,"In the year 2035, convict James Cole reluctant...",12.2973,http://image.tmdb.org/t/p/w185//6Sj9wDu3YugthX...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,129,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470,1995,5.723390
33,"{'id': 9435, 'name': 'Babe Collection', 'poste...",30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,en,Babe is a little pig who doesn't quite know hi...,14.4048,http://image.tmdb.org/t/p/w185//gN6X3fwPya8pLf...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,89,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,False,6.0,756,1995,8.471164

In [175]:
# Sub-genre List
# - alien (Alien)
# - monster (Monster)
# - space (Space Opera)
# - robot (AI/Robot)
# - time_travel (Time Travel)
# - super (Superheroes)
# - dystopian (Dystopian)
# - fantasy (Fantasy)
# - techno (Technology Thriller)
# Approach: Create new column called sub_genres
# if overview column contains word, append that word + '/' to the cell in sub_genres

# Create new column called sub_genres
df_movies_sff['sub_genres'] = ''

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [176]:
def search(df, *words):  #1
    """
    Return a sub-DataFrame of those rows whose Name column match all the words.
    """
    return df[np.logical_or.reduce([df['overview'].str.contains(word, case='False', na=False) for word in words])]   # 2

In [177]:
df_movies_sff.head()

,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,poster_path,production_companies,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return,sub_genres
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,en,When siblings Judy and Peter discover an encha...,17.0155,http://image.tmdb.org/t/p/w185//vzmL6fP7aPKNKP...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,1995,4.043035,
23,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,en,Harassed by classmates who won't accept his sh...,12.1331,http://image.tmdb.org/t/p/w185//1uRKsxOCtgz0xV...,"[{'name': 'Caravan Pictures', 'id': 175}, {'na...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143,1995,NaN,
28,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,fr,A scientist in a surrealist society kidnaps ch...,9.82242,http://image.tmdb.org/t/p/w185//eVo6ewq4akfyJY...,"[{'name': 'Procirep', 'id': 311}, {'name': 'Co...",...,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308,1995,0.096589,
31,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,en,"In the year 2035, convict James Cole reluctant...",12.2973,http://image.tmdb.org/t/p/w185//6Sj9wDu3YugthX...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470,1995,5.723390,
33,"{'id': 9435, 'name': 'Babe Collection', 'poste...",30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,en,Babe is a little pig who doesn't quite know hi...,14.4048,http://image.tmdb.org/t/p/w185//gN6X3fwPya8pLf...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,False,6.0,756,1995,8.471164,

In [178]:
df_movies_sff.loc[search(df_movies_sff, 'saucer', 'alien', 'life', 'human', 'extraterrestrial', 'ufo', 'parasite'\
                        'meteorite', 'meteor').index, 'sub_genres'] = 'alien/'

In [179]:
df_movies_sff.loc[search(df_movies_sff, 'luke', 'star', 'spaceship', 'battle', 'interstellar', 'planet', 'enterprise', 'skywalker', 'darth', 'droid'\
                        'earth', 'spock', 'kirk', 'space', 'capt', 'moon', 'spacecraft', 'crew', 'comet', 'mars').index, 'sub_genres'] \
= df_movies_sff['sub_genres'].astype(str) + 'space/'

In [180]:
df_movies_sff.loc[search(df_movies_sff, 'cop', 'ai', 'cyborg', 'terminator', 'army', 'android', 'weapon', 'robot', 'intelligence', 'machine').index, 'sub_genres'] \
= df_movies_sff['sub_genres'].astype(str) + 'robot/'

In [181]:
df_movies_sff.loc[search(df_movies_sff, 'travel', 'time', 'back', 'frozen').index, 'sub_genres'] \
= df_movies_sff['sub_genres'].astype(str) + 'time_travel/'

In [182]:
df_movies_sff.loc[search(df_movies_sff, 'marvel', 'superman', 'superpower', 'super').index, 'sub_genres'] \
= df_movies_sff['sub_genres'].astype(str) + 'super/'

In [184]:
df_movies_sff.loc[search(df_movies_sff, 'virus', 'future', 'nuclear', 'city', 'epidemic', 'prison', 'dark', 'murder', 'evil', 'violence', 'experiment'\
                        'totalitarian', 'society', 'post-apocalyptic', 'dystopian', 'experiments').index, 'sub_genres'] \
= df_movies_sff['sub_genres'].astype(str) + 'dystopian/'

In [186]:
df_movies_sff.loc[df_movies_sff['genres'].str.contains("Fantasy", case='False', na=False), 'sub_genres'] = df_movies_sff['sub_genres'].astype(str) + 'fantasy/'

In [188]:
df_movies_sff.loc[search(df_movies_sff, 'frankenstein', 'vampire', 'werewolf', 'shark', 'spider', 'zombie', 'blob', 'creature', 'troll', 'gypsy', 'ape'\
                        'dinosaur', 'jurrasic', 'scientist', 'swamp', 'dinosaurs', 'monster', 'octopus', 'godzilla').index, 'sub_genres'] \
= df_movies_sff['sub_genres'].astype(str) + 'monster/'

In [191]:
df_movies_sff.loc[search(df_movies_sff, 'computer', 'cyber', 'matrix', 'chip', 'network', 'serum', 'data', 'virtual', 'reality', 'laser', 'video', 'game'\
                        'player', 'tech').index, 'sub_genres'] \
= df_movies_sff['sub_genres'].astype(str) + 'techno/'

In [192]:
df_movies_sff['sub_genres'].value_counts()

fantasy/                                             552
                                                     378
robot/fantasy/                                       304
robot/                                               215
alien/                                               140
dystopian/                                           137
dystopian/fantasy/                                   136
time_travel/fantasy/                                 115
robot/dystopian/                                     113
robot/time_travel/fantasy/                           109
alien/fantasy/                                       104
robot/dystopian/fantasy/                             102
monster/                                              99
alien/robot/                                          95
time_travel/                                          93
space/                                                82
alien/robot/fantasy/                                  72
robot/time_travel/                                    58
robot/time_travel/dystopian/fantasy/                  54
alien/monster/                                        53
space/fantasy/                                        52
alien/dystopian/                                      51
alien/space/                                          50
fantasy/monster/                                      50
time_travel/dystopian/fantasy/                        50
robot/monster/                                        49
alien/time_travel/                                    46
space/robot/fantasy/                                  45
space/robot/                                          44
alien/robot/dystopian/                                42
                                                    ...
time_travel/super/                                     1
dystopian/fantasy/techno/                              1
alien/space/robot/dystopian/fantasy/techno/            1
dystopian/monster/techno/                              1
alien/time_travel/dystopian/fantasy/techno/            1
space/robot/time_travel/super/dystopian/fantasy/       1
space/robot/dystopian/techno/                          1
time_travel/super/fantasy/techno/                      1
alien/space/robot/time_travel/fantasy/techno/          1
alien/time_travel/fantasy/techno/                      1
alien/robot/dystopian/monster/techno/                  1
time_travel/fantasy/monster/techno/                    1
space/robot/time_travel/dystopian/fantasy/techno/      1
alien/time_travel/dystopian/fantasy/monster/           1
space/dystopian/monster/techno/                        1
space/time_travel/fantasy/monster/                     1
alien/robot/time_travel/dystopian/fantasy/techno/      1
alien/robot/time_travel/monster/techno/                1
alien/space/time_travel/dystopian/monster/techno/      1
alien/space/dystopian/techno/                          1
alien/space/dystopian/fantasy/monster/                 1
robot/time_travel/super/fantasy/                       1
robot/super/dystopian/                                 1
space/time_travel/dystopian/techno/                    1
space/time_travel/super/dystopian/                     1
super/fantasy/monster/                                 1
alien/time_travel/monster/techno/                      1
alien/dystopian/fantasy/techno/                        1
space/dystopian/fantasy/techno/                        1
robot/time_travel/dystopian/techno/                    1
Name: sub_genres, dtype: int64

In [193]:
# number of empty sub_genres remaining
(df_movies_sff['sub_genres'].values == '').sum()

378

In [194]:
# we still need to do some work here... label the rest of the movies with sub_genres
df_movies_sff.loc[df_movies_sff['sub_genres'].values=='']

,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,poster_path,production_companies,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return,sub_genres
475,"{'id': 328, 'name': 'Jurassic Park Collection'...",63000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",http://www.jurassicpark.com/,329,en,A wealthy entrepreneur secretly creates a them...,8.86378,http://image.tmdb.org/t/p/w185//c414cDeQ9b6qLP...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An adventure 65 million years in the making.,Jurassic Park,False,7.6,4956,1993,14.604762,
1180,"{'id': 529, 'name': 'Wallace & Gromit Collecti...",NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.wallaceandgromit.com/films/a-grand-...,530,en,Wallace and Gromit have run out of cheese and ...,7.6173,http://image.tmdb.org/t/p/w185//jgQU84QuFQ4yof...,"[{'name': 'Aardman Animations', 'id': 297}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,A Grand Day Out,False,7.4,199,1990,NaN,
1322,"{'id': 151, 'name': 'Star Trek: The Original S...",35000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,152,en,When a destructive space entity is spotted app...,8.27776,http://image.tmdb.org/t/p/w185//ys5Sgpc27mVo3H...,"[{'name': 'Paramount Pictures', 'id': 4}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The human adventure is just beginning.,Star Trek: The Motion Picture,False,6.2,541,1979,3.971429,
1324,"{'id': 151, 'name': 'Star Trek: The Original S...",30000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,172,en,Capt. Kirk and his crew must deal with Mr. Spo...,12.308,http://image.tmdb.org/t/p/w185//kugwPq2E5Ikzrg...,"[{'name': 'Paramount Pictures', 'id': 4}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Adventure and imagination will meet at the fin...,Star Trek V: The Final Frontier,False,5.6,384,1989,2.340000,
1462,"{'id': 259398, 'name': 'Teenage Apocalypse Tri...",NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,1811,en,The third film in a trilogy by writer-director...,3.32449,http://image.tmdb.org/t/p/w185//t3IQ4YOwFG71M1...,"[{'name': 'Desperate Pictures', 'id': 1474}, {...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Let the love feast begin.,Nowhere,False,6.3,27,1997,NaN,
1613,NaN,1000000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,29938,en,No overview found.,0.106499,http://image.tmdb.org/t/p/w185//4Abbxth4pOwiM2...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Run Baby Run!,Alien Escape,False,4.5,2,1996,NaN,
1684,NaN,75000000,"[{'id': 878, 'name': 'Science Fiction'}]",http://www.warnerbros.com/movies/home-entertai...,10153,en,The OSSA discovers a spacecraft thought to be ...,7.12474,http://image.tmdb.org/t/p/w185//jrjzPjKnpJq99G...,"[{'name': 'Punch Productions', 'id': 2154}, {'...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"A thousand feet beneath the sea, the blackest ...",Sphere,False,5.8,483,1998,0.174667,
1917,NaN,15000000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",NaN,9424,en,Steve Clark (James Marsden) is a newcomer in t...,11.0548,http://image.tmdb.org/t/p/w185//8eRU4c5vsCrUT5...,"[{'name': 'Village Roadshow Pictures', 'id': 7...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In Cradle Bay it doesn’t matter if you’re not ...,Disturbing Behavior,False,5.5,104,1998,1.167158,
1996,"{'id': 63043, 'name': 'TRON Collection', 'post...",17000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,97,en,As Kevin Flynn searches for proof that he inve...,16.574,http://image.tmdb.org/t/p/w185//cTF8lpXvAwT1SL...,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A world inside the computer where man has neve...,Tron,False,6.6,717,1982,1.941176,
2010,NaN,10000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,9980,en,"When a comet passes close to the earth, machin...",6.61408,http://image.tmdb.org/t/p/w185//lgNXAQ1TlKEKzs...,[{'name': 'De Laurentiis Entertainment Group (...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Stephen King's masterpiece of terror directed ...,Maximum Overdrive,False,5.5,170,1986,0.743366,
2162,NaN,2000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,24746,en,In a post-apocalyptic world where the Russians...,2.74099,http://image.tmdb.org/t/p/w185//8uTLYIaRBx1xZ1...,"[{'name': 'HSX Films', 'id': 4714}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Vegas Needs a New King.,Six-String Samurai,False,5.8,36,1998,0.062247,
2250,"{'id': 374509, 'name': 'Godzilla (Showa) Colle...",1000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",NaN,1678,ja,Japan is thrown into a panic after several shi...,13.1533,http://image.tmdb.org/t/p/w185//1MJcpTpeSh2RtR...,"[{'name': 'Toho Film (Eiga) Co. Ltd.', 'id': 6...",...,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,It's Alive!,Godzilla,False,6.9,194,1954,NaN,
2342,"{'id': 109609, 'name': 'The Fly Collection', '...",15000000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,9426,en,When Seth Brundle makes a huge scientific and ...,13.5346,http://image.tmdb.org/t/p/w185//q49tjSe3O152t9...,"[{'name': 'SLM Production Group', 'id': 396}, ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Be afraid. Be very afraid.,The Fly,False,7.1,1038,1986,4.041944,
2441,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,30202,en,Six children are found spread through out the ...,2.4163,http://image.tmdb.org/t/p/w185//fjIiCQJRIpJTGU...,"[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Beware the eyes that paralyze!!!,Children of the Damned,False,5.9,24,1964,NaN,
2543,NaN,NaN,"[{'id': 53, 'name': 'Thriller'}, {'id': 878, '...",NaN,43391,en,The CIA sends playboy Mike Trent to Alaska wit...,0.432126,http://image.tmdb.org/t/p/w185//fk2sVtesehLfp0...,"[{'name': 'Colonial Productions', 'id': 57825}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Flying Saucer,False,2.7,7,1950,NaN,
2546,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,19483,en,Author &amp; amateur astronomer John Putnam an...,7.74911,http://image.tmdb.org/t/p/w185//hIYZaXip6eZDN9...,[{'name': 'Universal International Pictures (U...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fantastic sights leap out at you!,It Came from Outer Space,False,6.2,52,1953,NaN,
2547,NaN,2000000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,8974,en,The residents of a small town are excited when...,5.6094,http://image.tmdb.org/t/p/w185//kCbFRaaDob0bmR...,"[{'name': 'Paramount Pictures', 'id': 4}]",...,"[{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...",Released,Amazing! terrifying! The most savage spectacle...,The War of the Worlds,False,6.8,172,1953,1.000000,
2548,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,29959,en,"A Giant Octopus, whose feeding habits have bee...",2.91707,http://image.tmdb.org/t/p/w185//wTFPbEWY1zQxU9...,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,IT CRUSHES! KILLS! DESTROYS!,It Came from Beneath the Sea,False,5.4,20,1955,NaN,
2586,NaN,170000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,8487,en,Legless Southern inventor Dr. Arliss Loveless ...,9.8876,http://image.tmdb.org/t/p/w185//ouhNr6KsjOBSPx...,"[{'name': 'Todman, Simon, LeMasters Production...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It's a whole new west.,Wild Wild West,False,5.1,1042,1999,1.306498,
2902,"{'id': 98036, 'name': 'Re-Animator Collection'...",900000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,1694,en,A dedicated student at a medical college and h...,9.86724,http://image.tmdb.org/t/p/w185//hJnP2O0uTuh8Hs...,"[{'name': 'Empire Pictures', 'id': 1212}]",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Herbert West has a good head on his shoulders....,Re-Animator,False,7.0,263,1985,2.248238,
3073,NaN,90000000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,10384,en,"Set in the 22nd century, when a battered salva...",5.49662,http://image.tmdb.org/t/p/w185//xSw9HKPKwFx63p...,"[{'name': 'United Artists', 'id': 60}, {'name'...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In the farthest reaches of space, something ha...",Supernova,False,4.9,109,2000,0.164756,
3086,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 18, 'nam...",NaN,16241,en,Nazi hunter Ezra Lieberman discovers a siniste...,5.9233,http://image.tmdb.org/t/p/w185//9fwAXB7cal1K0L...,"[{'name': 'Producers Circle', 'id': 734}, {'na...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,If they survive...will we?,The Boys from Brazil,False,6.6,102,1978,NaN,
3236,NaN,90000000,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,2067,en,When contact is lost with the crew of the firs...,9.02111,http://image.tmdb.org/t/p/w185//eco5chujn3Mt7H...,"[{'name': 'Spyglass Entertainment', 'id': 158}...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Let There Be Life.,Mission to Mars,False,5.7,374,2000,0.676385,
3351,NaN,20000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,840,en,"After an encounter with UFOs, a line worker fe...",10.6104,http://image.tmdb.org/t/p/w185//mABOVIUl5lB0WF...,"[{'name': 'Columbia Pictures Corporation', 'id...",...,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,We are not alone.,Close Encounters of the Third Kind,False,7.2,1122,1977,15.189432,
3516,"{'id': 645, 'name': 'James Bond Collection', '...",34000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.mgm.com/view/movie/1292/Moonraker/,698,en,During the transportation of a Space Shuttle a...,10.5763,http://image.tmdb.org/t/p/w185//pz2r25q3NzNTDG...,"[{'name': 'United Artists', 'id': 60}, {'name'...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Outer space now belongs to 007.,Moonraker,False,5.9,551,1979,6.185532,
3610,NaN,5500000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,12611,en,A government agent is determined to come to hi...,11.844,http://image.tmdb.org/t/p/w185//u23CCG87bWtpnP...,[{'name': 'Twentieth Century Fox Film Corporat...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An experience in terror and suspense.,The Fury,False,6.2,73,1978,4.363636,
3710,NaN,62000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,33468,en,Dr. Bill Cortner (Jason Evers) and his fiancée...,2.13143,http://image.tmdb.org/t/p/w185//lEmcF0P87S1sGK...,"[{'name': 'Rex Carlton Productions', 'id': 123...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Alive... without a body... fed by an unspeakab...,The Brain That Wouldn't Die,False,4.4,34,1962,NaN,
3739,"{'id': 223564, 'name': 'The Cell Collection', ...",33000000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,8843,en,A psychotherapist journeys inside a comatose s...,13.2349,http://image.tmdb.org/t/p/w185//tu2rPoVBhEp9fZ...,"[{'name': 'New Line Cinema', 'id': 12}, {'name...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Enter The Mind Of A Killer,The Cell,False,6.0,442,2000,3.156238,
3740,"{'id': 374512, 'name': 'Godzilla (Millennium) ...",1000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 27, '...",NaN,10643,ja,Godzilla saves Tokyo from a flying saucer that...,2.80298,http://image.tmdb.org/t/p/w185//iFqf6rOnVdBGR3...,"[{'name': 'Toho Film (Eiga) Co. Ltd.', 'id': 6...",...,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,Get ready to crumble.,Godzilla 2000,False,5.9,44,1999,10.037390,
3856,NaN,80000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,8870,en,Astronauts search for solutions to save a dyin...,8.53418,http://image.tmdb.org/t/p/w185//sMholOUc89LQhp...,"[{'name': 'Village Roadshow Pictures', 'id': 7...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Not A Sound. Not A Warning. Not A Chance. Not ...,Red Planet,False,5.4,271,2000,0.418300,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43439,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,425487,sv,Three students at a Swedish university make a ...,0.106215,http://image.tmdb.org/t/p/w185//cYYfFIjWTWBNHI...,[],...,[],Released,NaN,Origin,False,6.0,1,2016,NaN,
43450,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,443297,en,A long forgotten ancient spacecraft discovered...,0.427982,http://image.tmdb.org/t/p/w185//piTPKYtaZjwnCR...,"[{'name': 'MT2 Productions', 'id': 86979}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Moontrap: Target Earth,False,4.0,8,2017,NaN,
43455,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,31280,en,An astronaut (Anthony Dexter) and crew land on...,0.957614,http://image.tmdb.org/t/p/w185//cITwrutRePXugZ...,"[{'name': 'Criterion Films', 'id': 13731}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,SEE - the CREATURE OF HORROR who RAVISHED A PL...,Fire Maidens of Outer Space,False,2.2,7,1956,NaN,
43480,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 878, 'na...",NaN,236053,tr,NaN,0.219218,http://image.tmdb.org/t/p/w185//30Lw7lbSXwm9NU...,[],...,"[{'iso_639_1': 'tr', 'name': 'Türkçe'}]",Released,NaN,Japon İşi,False,6.3,2,1987,NaN,
43665,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 878, 'na...",NaN,256608,pl,Young couple living in the old house suddenly ...,0.094228,http://image.tmdb.org/t/p/w185//6p2pvaO2hrvx8o...,"[{'name': 'Studio Filmowe Zebra', 'id': 58225}...",...,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Embassy,False,4.5,2,2013,NaN,
43904,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.thelastmanonearthmovie.com/,328212,en,The Last Man On Earth is about two teenagers e...,0.330445,http://image.tmdb.org/t/p/w185//AaOXG4XqmIkjpV...,"[{'name': 'Visionary Films', 'id': 47783}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Alone. Together.,The Last Man on Earth,False,7.0,1,2014,NaN,
43963,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",NaN,362844,en,NaN,0.002603,http://image.tmdb.org/t/p/w185//pe2FQ7L96zkBaL...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Survivor,False,0.0,0,1999,NaN,
43993,"{'id': 106790, 'name': 'Hooked Collection', 'p...",3500000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,37851,ru,The continuation of the adventures of the hero...,0.884241,http://image.tmdb.org/t/p/w185//vtiqEEw0GH5OiK...,[],...,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Hooked on the Game 2. The Next Level,False,5.1,14,2010,0.655531,
44002,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,14210,en,NaN,0.782646,http://image.tmdb.org/t/p/w185//gxuXvSu2JkmP6G...,"[{'name': 'Camera', 'id': 19615}, {'name': 'L&...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Nightmare City 2035,False,4.5,6,2007,NaN,
44094,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,73144,en,A woman wakes up in a room with no memory of w...,3.444679,http://image.tmdb.org/t/p/w185//e8bRqOm0mjP2WQ...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Portal: No Escape,False,7.0,38,2011,NaN,
44103,NaN,5000000,"[{'id': 28, 'name': 'Action'}, {'id': 10749, '...",NaN,63838,ru,NaN,0.414793,http://image.tmdb.org/t/p/w185//be78nAT5VLN2ET...,"[{'name': 'Kinokompaniya CTB', 'id': 886}]",...,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Mechenosets,False,5.6,7,2006,0.783946,
44173,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,107170,en,Ghost Recon: Alpha sees a team led by Ghost Le...,3.036216,http://image.tmdb.org/t/p/w185//jfzhuHGAC9IM8Y...,"[{'name': 'Ubisoft', 'id': 4615}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Ghost Recon: Alpha,False,7.5,43,2012,NaN,
44209,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,44592,en,It's Cesar Romero versus dinosaurs in this cla...,1.027404,http://image.tmdb.org/t/p/w185//lO34an5IGKUT3q...,"[{'name': 'Sigmund Neufeld Productions', 'id':...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Monsters in a land that time forgot!,Lost Continent,False,2.0,5,1951,NaN,
44251,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,162042,en,"Dimwitted, meaty guy foils criminals by turnin...",0.038963,http://image.tmdb.org/t/p/w185//v72XVa62vnXyac...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An unforgettable excursion into adventure.,Riding with Death,False,2.4,5,1976,NaN,
44271,NaN,6000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 10749,...",NaN,316154,en,"In a desert wasteland in Texas, a muscled cann...",78.8072,http://image.tmdb.org/t/p/w185//7o14VaMphEIzPw...,"[{'name': 'Annapurna Pictures', 'id': 13184}, ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Bad Batch,False,5.3,160,2017,NaN,
44301,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,341689,en,"A couple of British 1970s teen-aged boys, Enn ...",2.068008,http://image.tmdb.org/t/p/w185//tyCt5dQ2yhfEtW...,"[{'name': 'HanWay Films', 'id': 2395}, {'name'...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some girls are out of this world.,How to Talk to Girls at Parties,False,0.0,10,2017,NaN,
44344,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",https://www.ismovies.net/movie/the-gracefield-...,327253,en,"On August 16, 2013, the Supreme Court mandated...",4.184306,http://image.tmdb.org/t/p/w185//lWZsV3dJfpWlEQ...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,The Gracefield Incident,False,4.7,26,2017,NaN,
44345,"{'id': 154752, 'name': 'Legend of the Galactic...",NaN,"[{'id': 16, 'name': 'Animation'}, {'id': 878, ...",NaN,154727,ja,"Based on a series of sci-fi novels, this serie...",0.398224,http://image.tmdb.org/t/p/w185//6P9jbdQY9CJiH9...,"[{'name': 'Tokuma Shoten', 'id': 1779}]",...,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Legend of the Galactic Heroes: Overture to a N...,False,7.2,5,1993,NaN,
44444,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,82495,fr,NaN,0.759754,http://image.tmdb.org/t/p/w185//cSqDV2lkJt3a7x...,[],...,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Gamer,False,3.2,5,2001,NaN,
44559,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,301876,en,NaN,0.039591,http://image.tmdb.org/t/p/w185//kBTaeHeOmRn1WP...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,30 Years to Life,False,5.0,1,1998,NaN,
44582,NaN,5000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,436994,ko,"Dae-ho, an investigative journalist, seeks to ...",1.748838,http://image.tmdb.org/t/p/w185//kFNCZo3ME1q83x...,"[{'name': '(주)로드픽쳐스', 'id': 87426}]",...,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Lucid Dream,False,6.8,27,2017,NaN,
44624,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,406990,en,In a world where families are limited to one c...,60.581223,http://image.tmdb.org/t/p/w185//o6EsOqITcSzcdw...,"[{'name': 'Vendome Pictures', 'id': 7460}, {'n...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Seven sisters. One identity.,What Happened to Monday,False,7.3,598,2017,NaN,
44754,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,204611,en,"On a typical fall evening in 1983, a young man...",0.00022,http://image.tmdb.org/t/p/w185//67PsLwiDS2K9y1...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,UFO Abduction,False,6.7,6,1989,NaN,
44893,NaN,NaN,"[{'id': 16, 'name': 'Animation'}, {'id': 28, '...",NaN,32534,en,"Dark shadows are cast over Bill's recovery, in...",0.472132,http://image.tmdb.org/t/p/w185//5V02nhJlXdcTUj...,"[{'name': 'Bitter Films', 'id': 63349}]",...,[],Released,NaN,I Am So Proud of You,False,8.3,12,2008,NaN,

In [195]:
df_movies_sff.to_csv('movies_metadata_scififantasy_v2.csv',sep=',')