In [1]:
import pandas as pd
import numpy as np

In [24]:
df_movies_metadata = pd.read_csv('movies_metadata.csv')

In [25]:
print(df_movies_metadata.columns)

Index([u'adult', u'belongs_to_collection', u'budget', u'genres', u'homepage',
       u'id', u'imdb_id', u'original_language', u'original_title', u'overview',
       u'popularity', u'poster_path', u'production_companies',
       u'production_countries', u'release_date', u'revenue', u'runtime',
       u'spoken_languages', u'status', u'tagline', u'title', u'video',
       u'vote_average', u'vote_count'],
      dtype='object')

In [26]:
df_movies_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173

In [27]:
df_movies_metadata.shape

(45466, 24)

In [28]:
df_movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.7+ MB

In [29]:
# Remove features that are not useful
df_movies_metadata = df_movies_metadata.drop(['imdb_id'], axis=1)

In [30]:
df_movies_metadata[df_movies_metadata['original_title'] != df_movies_metadata['title']][['title', 'original_title']].head()

                        title                    original_title
28  The City of Lost Children        La Cité des Enfants Perdus
29             Shanghai Triad                         摇啊摇，摇到外婆桥
32           Wings of Courage  Guillaumet, les ailes du courage
57                The Postman                        Il postino
58           The Confessional                  Le confessionnal

In [31]:
df_movies_metadata = df_movies_metadata.drop('original_title', axis=1)

In [32]:
df_movies_metadata['revenue'] = df_movies_metadata['revenue'].replace(0, np.nan)

In [33]:
df_movies_metadata['budget'] = pd.to_numeric(df_movies_metadata['budget'], errors='coerce')
df_movies_metadata['budget'] = df_movies_metadata['budget'].replace(0, np.nan)
df_movies_metadata[df_movies_metadata['budget'].isnull()].shape

(36576, 22)

In [34]:
# Drop Adult movies
df_movies_metadata['adult'].value_counts()

False                                                                                                                             45454
True                                                                                                                                  9
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 - Written by Ørnås                                                                                                                   1
Name: adult, dtype: int64

In [35]:
df_movies_metadata = df_movies_metadata.drop('adult', axis=1)

In [36]:
base_poster_url = 'http://image.tmdb.org/t/p/w185/'
df_movies_metadata['poster_path'] = base_poster_url + df_movies_metadata['poster_path']

In [39]:
# create the year feature
df_movies_metadata['year'] = pd.to_datetime(df_movies_metadata['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [40]:
# create the return feature
df_movies_metadata['return'] = df_movies_metadata['revenue'] / df_movies_metadata['budget']
df_movies_metadata[df_movies_metadata['return'].isnull()].shape
# Let's explore our dataset again
df_movies_metadata.head()

,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,poster_path,production_companies,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,en,"Led by Woody, Andy's toys live happily in his ...",21.9469,http://image.tmdb.org/t/p/w185//rhIRbceoE9lR4v...,"[{'name': 'Pixar Animation Studios', 'id': 3}]",...,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415,1995,12.451801
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,en,When siblings Judy and Peter discover an encha...,17.0155,http://image.tmdb.org/t/p/w185//vzmL6fP7aPKNKP...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",...,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,1995,4.043035
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",NaN,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,en,A family wedding reignites the ancient feud be...,11.7129,http://image.tmdb.org/t/p/w185//6ksm1sjKMFLbO7...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",...,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92,1995,NaN
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.85949,http://image.tmdb.org/t/p/w185//16XOMpEaLWkrcP...,[{'name': 'Twentieth Century Fox Film Corporat...,...,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34,1995,5.090760
4,"{'id': 96871, 'name': 'Father of the Bride Col...",NaN,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,en,Just when George Banks has recovered from his ...,8.38752,http://image.tmdb.org/t/p/w185//e64sOI48hQXyru...,"[{'name': 'Sandollar Productions', 'id': 5842}...",...,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173,1995,NaN

In [45]:
# Filter only on Science Fiction and Fantasy
df_movies_sff = df_movies_metadata[df_movies_metadata['genres'].str.contains("Science Fiction|Fantasy")]
df_movies_sff.shape

(4844, 23)

In [42]:
# Let's explore our dataset again
df_movies_sff.head()

,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,poster_path,production_companies,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,en,When siblings Judy and Peter discover an encha...,17.0155,http://image.tmdb.org/t/p/w185//vzmL6fP7aPKNKP...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",...,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,1995,4.043035
23,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,en,Harassed by classmates who won't accept his sh...,12.1331,http://image.tmdb.org/t/p/w185//1uRKsxOCtgz0xV...,"[{'name': 'Caravan Pictures', 'id': 175}, {'na...",...,111,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143,1995,NaN
28,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,fr,A scientist in a surrealist society kidnaps ch...,9.82242,http://image.tmdb.org/t/p/w185//eVo6ewq4akfyJY...,"[{'name': 'Procirep', 'id': 311}, {'name': 'Co...",...,108,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308,1995,0.096589
31,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,en,"In the year 2035, convict James Cole reluctant...",12.2973,http://image.tmdb.org/t/p/w185//6Sj9wDu3YugthX...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,129,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470,1995,5.723390
33,"{'id': 9435, 'name': 'Babe Collection', 'poste...",30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,en,Babe is a little pig who doesn't quite know hi...,14.4048,http://image.tmdb.org/t/p/w185//gN6X3fwPya8pLf...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,89,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,False,6.0,756,1995,8.471164

In [77]:
# Add sub-genres
# - alien
# - ai
# - time_travel
# - superhero
# - dystopian
# - space
# Approach: Create new column called sub_genres
# if overview column contains word, append that word + '/' to the cell in sub_genres

# Create new column called sub_genres
df_movies_sff.loc['sub_genres'] = ''

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [78]:
df_movies_sff.head()

,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,poster_path,production_companies,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return,sub_genres
1,NaN,6.5e+07,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,en,When siblings Judy and Peter discover an encha...,17.0155,http://image.tmdb.org/t/p/w185//vzmL6fP7aPKNKP...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,1995,4.04303,NaN
23,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,en,Harassed by classmates who won't accept his sh...,12.1331,http://image.tmdb.org/t/p/w185//1uRKsxOCtgz0xV...,"[{'name': 'Caravan Pictures', 'id': 175}, {'na...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143,1995,NaN,NaN
28,NaN,1.8e+07,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,fr,A scientist in a surrealist society kidnaps ch...,9.82242,http://image.tmdb.org/t/p/w185//eVo6ewq4akfyJY...,"[{'name': 'Procirep', 'id': 311}, {'name': 'Co...",...,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308,1995,0.0965895,NaN
31,NaN,2.95e+07,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,en,"In the year 2035, convict James Cole reluctant...",12.2973,http://image.tmdb.org/t/p/w185//6Sj9wDu3YugthX...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470,1995,5.72339,NaN
33,"{'id': 9435, 'name': 'Babe Collection', 'poste...",3e+07,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,en,Babe is a little pig who doesn't quite know hi...,14.4048,http://image.tmdb.org/t/p/w185//gN6X3fwPya8pLf...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,False,6,756,1995,8.47116,NaN

In [74]:
df_movies_sff.loc[df_movies_sff['overview'].str.contains("alien", na=False),'sub_genres'] = 'alien,'

/usr/local/Cellar/python/2.7.12/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/pandas/core/indexing.py:117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [75]:
df_movies_sff.loc[df_movies_sff['overview'].str.contains("space", na=False),'sub_genres'] = df_movies_sff['sub_genres'].astype(str) + 'space,'

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [76]:
df_movies_sff.loc[df_movies_sff['overview'].str.contains("space", na=False)]

,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,poster_path,production_companies,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return,sub_genres
240,NaN,NaN,"[{'id': 14, 'name': 'Fantasy'}, {'id': 16, 'na...",NaN,43475,en,The band is back together! Gumby reunites with...,0.090452,http://image.tmdb.org/t/p/w185//mv8yiGImY2fxyv...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The original green hero!,Gumby: The Movie,False,5,2,1995,NaN,"nanspace,space,"
760,"{'id': 304378, 'name': 'Independence Day Colle...",7.5e+07,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,602,en,"On July 2, a giant alien mothership enters orb...",17.6342,http://image.tmdb.org/t/p/w185//bqLlWZJdhrS0kn...,[{'name': 'Twentieth Century Fox Film Corporat...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Earth. Take a good look. It might be your last.,Independence Day,False,6.7,3334,1996,10.8929,"alien,space,"
1171,"{'id': 8091, 'name': 'Alien Collection', 'post...",1.1e+07,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",https://www.facebook.com/alienanthology/,348,en,"During its return to the earth, commercial spa...",23.3774,http://image.tmdb.org/t/p/w185//2h00HrZs89SL3t...,[{'name': 'Twentieth Century Fox Film Corporat...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,In space no one can hear you scream.,Alien,False,7.9,4564,1979,9.53925,"alien,space,"
1255,NaN,1.9e+06,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",NaN,830,en,Captain Adams and the crew of the Starship C57...,6.37997,http://image.tmdb.org/t/p/w185//qdH1Fm5vl1DAjX...,"[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Earthmen on a fabulous, peril-journey into out...",Forbidden Planet,False,7.2,238,1956,1.71053,"nanspace,space,"
1322,"{'id': 151, 'name': 'Star Trek: The Original S...",3.5e+07,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,152,en,When a destructive space entity is spotted app...,8.27776,http://image.tmdb.org/t/p/w185//ys5Sgpc27mVo3H...,"[{'name': 'Paramount Pictures', 'id': 4}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The human adventure is just beginning.,Star Trek: The Motion Picture,False,6.2,541,1979,3.97143,"nanspace,space,"
1432,"{'id': 286162, 'name': 'Power Rangers Collecti...",1e+07,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,6499,en,The legendary Power Rangers must stop the evil...,5.43674,http://image.tmdb.org/t/p/w185//8wphfcxLmA58we...,[{'name': 'Twentieth Century Fox Film Corporat...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Power Is Back!,Turbo: A Power Rangers Movie,False,4.6,60,1997,1.79797,"nanspace,space,"
1568,NaN,1.6e+07,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,36797,en,Fred Z. Randall is geeky and obnoxious spacecr...,5.34566,http://image.tmdb.org/t/p/w185//vDyCsKerUVU2tK...,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He's just taking up space!,RocketMan,False,5.4,36,1997,NaN,"nanspace,space,"
1575,NaN,3.6e+07,"[{'id': 53, 'name': 'Thriller'}, {'id': 878, '...",NaN,782,en,Science fiction drama about a future society i...,12.8931,http://image.tmdb.org/t/p/w185//gPYtuvhQvP7v5F...,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,There is no gene for the human spirit.,Gattaca,False,7.5,1846,1997,0.348133,"nanspace,space,"
1684,NaN,7.5e+07,"[{'id': 878, 'name': 'Science Fiction'}]",http://www.warnerbros.com/movies/home-entertai...,10153,en,The OSSA discovers a spacecraft thought to be ...,7.12474,http://image.tmdb.org/t/p/w185//jrjzPjKnpJq99G...,"[{'name': 'Punch Productions', 'id': 2154}, {'...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"A thousand feet beneath the sea, the blackest ...",Sphere,False,5.8,483,1998,0.174667,"nanspace,space,"
1724,NaN,8e+07,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,2157,en,The prospects for continuing life on Earth in ...,12.0006,http://image.tmdb.org/t/p/w185//kkBDPkUnYwAkWb...,"[{'name': 'New Line Cinema', 'id': 12}, {'name...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Danger, Will Robinson!",Lost in Space,False,5,395,1998,1.70199,"nanspace,space,"
1808,NaN,1.4e+08,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,95,en,When an asteroid threatens to collide with Ear...,13.2351,http://image.tmdb.org/t/p/w185//coINnuCzcw5FMH...,"[{'name': 'Jerry Bruckheimer Films', 'id': 130...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Earth's Darkest Day Will Be Man's Finest Hour,Armageddon,False,6.5,2540,1998,3.95571,"nanspace,space,"
1815,NaN,60000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,10513,en,"In California, an old man (Bela Lugosi) grieve...",8.08495,http://image.tmdb.org/t/p/w185//tBkJps1poCnVqW...,"[{'name': 'Reynolds Pictures', 'id': 74116}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Unspeakable Horrors From Outer Space Paralyze ...,Plan 9 from Outer Space,False,4.4,137,1959,NaN,"alien,space,"
2198,"{'id': 4438, 'name': 'The Space Odyssey Series...",2.8e+07,"[{'id': 53, 'name': 'Thriller'}, {'id': 878, '...",NaN,4437,en,This is a sequel to 2001 A Space Odyssey. It i...,7.48286,http://image.tmdb.org/t/p/w185//9Rcz2n16HEYRi2...,"[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"""Something wonderful is going to happen""",2010,False,6.6,290,1984,1.44288,"nanspace,space,"
2264,NaN,2.5e+07,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",NaN,11954,en,A space shuttle mission investigating Halley's...,13.5614,http://image.tmdb.org/t/p/w185//l9R0w3CzF2YCTZ...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the blink of an eye, the terror begins.",Lifeforce,False,6.2,136,1985,NaN,"alien,space,"
2385,NaN,6.5e+07,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9849,en,"News producer, Tim O'Hara gets himself fired f...",12.651,http://image.tmdb.org/t/p/w185//k1wWEHxXLTHXji...,"[{'name': 'Walt Disney Pictures', 'id': 2}]",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The martian has landed. There goes the neighbo...,My Favorite Martian,False,5.1,81,1999,0.566925,"nanspace,space,"
2420,"{'id': 1709, 'name': 'Planet of the Apes Origi...",2.5e+06,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,1687,en,The world is shocked by the appearance of two ...,12.1203,http://image.tmdb.org/t/p/w185//yOnN43HdxvV5h5...,[{'name': 'Twentieth Century Fox Film Corporat...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet baby Milo who has Washington terrified.,Escape from the Planet of the Apes,False,6.3,270,1971,4.93956,"nanspace,space,"
2529,"{'id': 8537, 'name': 'Superman Collection', 'p...",1.7e+07,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,11411,en,With global superpowers engaged in an increasi...,7.99068,http://image.tmdb.org/t/p/w185//q1P6UHWdrtZNkm...,"[{'name': 'Cannon Films', 'id': 4110}, {'name'...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"Nuclear Power. In the best hands, it is danger...",Superman IV: The Quest for Peace,False,4.1,327,1987,1.13529,"nanspace,space,"
2546,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,19483,en,Author &amp; amateur astronomer John Putnam an...,7.74911,http://image.tmdb.org/t/p/w185//hIYZaXip6eZDN9...,[{'name': 'Universal International Pictures (U...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fantastic sights leap out at you!,It Came from Outer Space,False,6.2,52,1953,NaN,"nanspace,space,"
2550,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,18158,en,After aliens fail to effectively manage their ...,3.34053,http://image.tmdb.org/t/p/w185//2uZiDKBAfBYGvJ...,"[{'name': 'Columbia Pictures Corporation', 'id...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The terrifying truth about flying saucers!,Earth vs. the Flying Saucers,False,6,41,1956,NaN,"alien,space,"
2594,"{'id': 256377, 'name': 'The Muppet Collection'...",2.4e+07,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,10208,en,When Gonzo's breakfast cereal tells him that h...,7.53167,http://image.tmdb.org/t/p/w185//zhiHQIgLSfII3y...,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Space. It's not as deep as you think.,Muppets from Space,False,5.8,94,1999,0.678791,"alien,space,"
2916,NaN,2.27e+07,"[{'id': 35, 'name': 'Comedy'}, {'id': 878, 'na...",http://www.mgm.com/view/movie/1873/Spaceballs/,957,en,When the nefarious Dark Helmet hatches a plan ...,9.10373,http://image.tmdb.org/t/p/w185//kNbaxEsnCyWBTf...,"[{'name': 'Brooksfilms Ltd.', 'id': 617}, {'na...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,May the schwartz be with you,Spaceballs,False,6.7,924,1987,1.67927,"nanspace,space,"
3058,NaN,4.5e+07,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,926,en,The stars of a 1970s sci-fi show - now scrapin...,15.8314,http://image.tmdb.org/t/p/w185//ahpUPhVlwAWic9...,"[{'name': 'DreamWorks SKG', 'id': 27}, {'name'...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A comedy of Galactic Proportions.,Galaxy Quest,False,6.9,722,1999,2.0152,"alien,space,"
3344,NaN,5.5e+07,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",NaN,2102,en,A huge solar flare is predicted to fry the Ear...,0.653162,http://image.tmdb.org/t/p/w185//aSIStieJZsdOqz...,"[{'name': 'Japan America Picture Company', 'id...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In the year 2050, the battle to save the earth...",Solar Crisis,False,4.4,7,1990,NaN,"nanspace,space,"
3382,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,593,ru,Ground control has been receiving strange tran...,11.0598,http://image.tmdb.org/t/p/w185//nsGLKlwEOtqatz...,"[{'name': 'Mosfilm', 'id': 5120}, {'name': 'Cr...",...,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Solaris,False,7.7,364,1972,NaN,"nanspace,space,"
3470,NaN,NaN,"[{'id': 16, 'name': 'Animation'}, {'id': 18, '...",NaN,22501,fr,"On planet Perdide, an attack of giant hornets ...",8.71786,http://image.tmdb.org/t/p/w185//7YNxKOswyPzaVX...,[{'name': 'British Broadcasting Corporation (B...,...,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Time Masters,False,7.4,38,1982,NaN,"nanspace,space,"
3516,"{'id': 645, 'name': 'James Bond Collection', '...",3.4e+07,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.mgm.com/view/movie/1292/Moonraker/,698,en,During the transportation of a Space Shuttle a...,10.5763,http://image.tmdb.org/t/p/w185//pz2r25q3NzNTDG...,"[{'name': 'United Artists', 'id': 60}, {'name'...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Outer space now belongs to 007.,Moonraker,False,5.9,551,1979,6.18553,"nanspace,space,"
3536,"{'id': 123726, 'name': 'Quatermass (Hammer ser...",NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,26912,en,An ancient Martian spaceship is unearthed in L...,9.34723,http://image.tmdb.org/t/p/w185//95USPEwfArhRGC...,"[{'name': 'Hammer Film Productions', 'id': 1314}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,World in panic! Cities in flames!,Quatermass and the Pit,False,6.2,57,1967,NaN,"nanspace,space,"
3658,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,37744,en,Astronauts blast off to explore the moon on Ro...,1.11376,http://image.tmdb.org/t/p/w185//n3YzWNfKNyyAC2...,"[{'name': 'Lippert Pictures', 'id': 4946}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The screen's first story of man's conquest of ...,Rocketship X-M,False,5.1,15,1950,NaN,"nanspace,space,"
4458,NaN,1e+07,"[{'id': 10402, 'name': 'Music'}, {'id': 35, 'n...",NaN,2210,en,"In this musical comedy, Valerie is dealing wit...",11.5097,http://image.tmdb.org/t/p/w185//vjBfREN3yWoUIN...,[{'name': 'De Laurentiis Entertainment Group (...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Valerie's about to discover how far a girl has...,Earth Girls Are Easy,False,5.5,110,1988,0.39163,"alien,space,"
4573,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,21596,en,"Thomas Thomas is agoraphobic, has a computer-g...",0.369046,http://image.tmdb.org/t/p/w185//qVccotuipIGvZc...,"[{'name': 'Entre Chien et Loup', 'id': 3984}]",...,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Thomas in Love,False,6,2,2000,NaN,"nanspace,space,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40782,NaN,1.3e+06,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",http://capsulethemovie.com/,395560,en,Guy is an experienced British fighter pilot wh...,1.823626,http://image.tmdb.org/t/p/w185//zCFN0D2Ik0VAux...,"[{'name': 'Ecaveo Capital Partners', 'id': 770...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"One Man, One Mission, One Choice",Capsule,False,5.2,26,2015,NaN,"nanspace,space,"
40990,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,27462,en,Lovely and resourceful Daria and Tisa escape a...,0.935783,http://image.tmdb.org/t/p/w185//1VWfoBXrHbJunU...,"[{'name': 'Titan Productions', 'id': 1582}, {'...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Big Movie. Big Production. Big Girls.,Slave Girls from Beyond Infinity,False,5.8,8,1987,NaN,"nanspace,space,"
41176,NaN,NaN,"[{'id': 53, 'name': 'Thriller'}, {'id': 12, 'n...",NaN,419330,en,A grief stricken captain embarks on his final ...,0.54252,http://image.tmdb.org/t/p/w185//cCT8RU9hnWrY1j...,"[{'name': 'Epic Pictures Group', 'id': 7662}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Somnus,False,4.9,8,2016,NaN,"nanspace,space,"
41536,NaN,1.1e+08,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",http://www.passengersmovie.com/,274870,en,A spacecraft traveling to a distant colony pla...,20.303632,http://image.tmdb.org/t/p/w185//5gJkVIVU7FDp7A...,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There is a reason they woke up.,Passengers,False,6.7,4134,2016,2.75586,"nanspace,space,"
41918,NaN,250000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,46522,en,"After a lengthy space mission, two astronauts ...",0.364806,http://image.tmdb.org/t/p/w185//cgDc9Hdkc6jqHB...,"[{'name': 'Nautilus Film Company, The', 'id': ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What comes after World War III?,The Aftermath,False,4.7,8,1982,NaN,"nanspace,space,"
42167,NaN,NaN,"[{'id': 53, 'name': 'Thriller'}, {'id': 12, 'n...",NaN,401222,en,When a scientist and a pilot volunteer for a h...,2.718862,http://image.tmdb.org/t/p/w185//fpqjKTN516Vfch...,"[{'name': 'Eenie Ienie Over Productions', 'id'...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Their mission was to reach the edge of the uni...,ISRA 88,False,5,13,2016,NaN,"nanspace,space,"
42756,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,179105,de,A team of space scavengers discovers superior ...,2.355288,http://image.tmdb.org/t/p/w185//5Zb7eGl3wcYmef...,"[{'name': 'California Pictures', 'id': 8189}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Survive the void.,Scavengers,False,2.7,9,2013,NaN,"alien,space,"
43044,NaN,NaN,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ...",NaN,32148,en,A pilot is the only hope to stop the mutiny of...,1.311115,http://image.tmdb.org/t/p/w185//2r4GHmSNwOcCte...,"[{'name': 'A.I.P. Productions', 'id': 18008}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There Is Nowhere To Hide From The Enemy Within.,Space Mutiny,False,2.3,18,1988,NaN,"nanspace,space,"
43181,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",http://www.lonewolvesmovie.com/,430419,en,"After an apocalypse of questionable origin, Pr...",1.094645,http://image.tmdb.org/t/p/w185//ygqDEUCSa8tjW0...,"[{'name': 'Longview Pictures', 'id': 87214}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He is mankind's only hope.,Lone Wolves,False,3,5,2016,NaN,"nanspace,space,"
43263,NaN,1e+06,"[{'id': 878, 'name': 'Science Fiction'}]",http://www.thousandmilemedia.com/teleios,421443,en,A deep space mining vessel has been adrift for...,2.296394,http://image.tmdb.org/t/p/w185//56Jw3jcT0Oi8dR...,"[{'name': 'Thousand Mile Media', 'id': 51117}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In a Perfect World...There is a Fatal Flaw.,Teleios,False,5.2,20,2017,NaN,"nanspace,space,"
43279,NaN,NaN,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",NaN,386172,en,The satellite has vanished and the only clue i...,2.764506,http://image.tmdb.org/t/p/w185//nMIJv6LPodTvTP...,"[{'name': 'Media Plus', 'id': 6108}, {'name': ...",...,"[{'iso_639_1': 'sr', 'name': 'Srpski'}, {'iso_...",Released,Death is dead,The Rift,False,4.3,12,2016,NaN,"nanspace,space,"
43324,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,155661,ja,Some time after a space mission to Mars ends i...,0.052812,http://image.tmdb.org/t/p/w185//5B7j8B9wC71nvR...,"[{'name': 'Idea Factory', 'id': 59266}]",...,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Mars of Destruction,False,2,1,2005,NaN,"nanspace,space,"
43450,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,443297,en,A long forgotten ancient spacecraft discovered...,0.427982,http://image.tmdb.org/t/p/w185//piTPKYtaZjwnCR...,"[{'name': 'MT2 Productions', 'id': 86979}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Moontrap: Target Earth,False,4,8,2017,NaN,"nanspace,space,"
43463,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",http://shockwavedarkside.com/,279965,en,The nano-plague that poisoned Earth’s water su...,0.364068,http://image.tmdb.org/t/p/w185//rSr7kVWqZfiozN...,"[{'name': 'Favorit Film', 'id': 19601}, {'name...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shockwave Darkside,False,1.5,2,2014,NaN,"nanspace,space,"
43702,NaN,NaN,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 18,...",https://www.amazon.co.uk/gp/video/detail/B06WL...,450530,en,A Scottish chaplain embarks on an epic journey...,0.353742,http://image.tmdb.org/t/p/w185//z6xugLPukxof4V...,"[{'name': 'Left Bank Pictures', 'id': 5340}, {...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Oasis,True,7,2,2017,NaN,"nanspace,space,"
43814,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,31119,en,"The plot concerns an American astronaut, Frank...",1.042017,http://image.tmdb.org/t/p/w185//5LI6wRnVmFoTT3...,"[{'name': 'B.I. & L. Releasing Corp.', 'id': 1...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A way-out tale of a far-out monster!,Monster a-Go Go,False,2.3,14,1965,NaN,"nanspace,space,"
43851,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,10960,en,"Six years ago, the space alien, ALF, was on hi...",1.689146,http://image.tmdb.org/t/p/w185//5rHFiXiCbgJXxD...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Project: ALF,False,5.1,10,1996,NaN,"alien,space,"
43955,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,45887,en,A documentary-style short film about the arriv...,1.954502,http://image.tmdb.org/t/p/w185//rMHTm7v8UsXsre...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Alive in Joburg,False,7,28,2005,NaN,"alien,space,"
43970,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,26873,ru,A Star-ship discovers a dead alien space craft...,0.914097,http://image.tmdb.org/t/p/w185//xdcOvZl6kjkZay...,"[{'name': 'Gorky Film Studio', 'id': 3681}]",...,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,To The Stars By Hard Ways,False,5,10,1980,NaN,"alien,space,"