In [1]:
import pandas as pd
import numpy as np

In [2]:
df_movies_metadata = pd.read_csv('movies_metadata.csv')

/usr/local/Cellar/python/2.7.12/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print(df_movies_metadata.columns)

Index([u'adult', u'belongs_to_collection', u'budget', u'genres', u'homepage',
       u'id', u'imdb_id', u'original_language', u'original_title', u'overview',
       u'popularity', u'poster_path', u'production_companies',
       u'production_countries', u'release_date', u'revenue', u'runtime',
       u'spoken_languages', u'status', u'tagline', u'title', u'video',
       u'vote_average', u'vote_count'],
      dtype='object')

In [4]:
df_movies_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173

In [5]:
df_movies_metadata.shape

(45466, 24)

In [6]:
df_movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45466 entries, 0 to 45465
Data columns (total 24 columns):
adult                    45466 non-null object
belongs_to_collection    4494 non-null object
budget                   45466 non-null object
genres                   45466 non-null object
homepage                 7782 non-null object
id                       45466 non-null object
imdb_id                  45449 non-null object
original_language        45455 non-null object
original_title           45466 non-null object
overview                 44512 non-null object
popularity               45461 non-null object
poster_path              45080 non-null object
production_companies     45463 non-null object
production_countries     45463 non-null object
release_date             45379 non-null object
revenue                  45460 non-null float64
runtime                  45203 non-null float64
spoken_languages         45460 non-null object
status                   45379 non-null object
tagline                  20412 non-null object
title                    45460 non-null object
video                    45460 non-null object
vote_average             45460 non-null float64
vote_count               45460 non-null float64
dtypes: float64(4), object(20)
memory usage: 8.7+ MB

In [7]:
# Remove features that are not useful
df_movies_metadata = df_movies_metadata.drop(['imdb_id'], axis=1)

In [8]:
df_movies_metadata[df_movies_metadata['original_title'] != df_movies_metadata['title']][['title', 'original_title']].head()

                        title                    original_title
28  The City of Lost Children        La Cité des Enfants Perdus
29             Shanghai Triad                         摇啊摇，摇到外婆桥
32           Wings of Courage  Guillaumet, les ailes du courage
57                The Postman                        Il postino
58           The Confessional                  Le confessionnal

In [9]:
df_movies_metadata = df_movies_metadata.drop('original_title', axis=1)

In [10]:
df_movies_metadata['revenue'] = df_movies_metadata['revenue'].replace(0, np.nan)

In [11]:
df_movies_metadata['budget'] = pd.to_numeric(df_movies_metadata['budget'], errors='coerce')
df_movies_metadata['budget'] = df_movies_metadata['budget'].replace(0, np.nan)
df_movies_metadata[df_movies_metadata['budget'].isnull()].shape

(36576, 22)

In [12]:
# Drop Adult movies
df_movies_metadata['adult'].value_counts()

False                                                                                                                             45454
True                                                                                                                                  9
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 - Written by Ørnås                                                                                                                   1
Name: adult, dtype: int64

In [13]:
df_movies_metadata = df_movies_metadata.drop('adult', axis=1)

In [14]:
base_poster_url = 'http://image.tmdb.org/t/p/w185/'
df_movies_metadata['poster_path'] = base_poster_url + df_movies_metadata['poster_path']

In [15]:
# create the year feature
df_movies_metadata['year'] = pd.to_datetime(df_movies_metadata['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [16]:
# create the return feature
df_movies_metadata['return'] = df_movies_metadata['revenue'] / df_movies_metadata['budget']
df_movies_metadata[df_movies_metadata['return'].isnull()].shape
# Let's explore our dataset again
df_movies_metadata.head()

,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,poster_path,production_companies,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,en,"Led by Woody, Andy's toys live happily in his ...",21.9469,http://image.tmdb.org/t/p/w185//rhIRbceoE9lR4v...,"[{'name': 'Pixar Animation Studios', 'id': 3}]",...,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415,1995,12.451801
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,en,When siblings Judy and Peter discover an encha...,17.0155,http://image.tmdb.org/t/p/w185//vzmL6fP7aPKNKP...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",...,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,1995,4.043035
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",NaN,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,en,A family wedding reignites the ancient feud be...,11.7129,http://image.tmdb.org/t/p/w185//6ksm1sjKMFLbO7...,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",...,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92,1995,NaN
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.85949,http://image.tmdb.org/t/p/w185//16XOMpEaLWkrcP...,[{'name': 'Twentieth Century Fox Film Corporat...,...,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34,1995,5.090760
4,"{'id': 96871, 'name': 'Father of the Bride Col...",NaN,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,en,Just when George Banks has recovered from his ...,8.38752,http://image.tmdb.org/t/p/w185//e64sOI48hQXyru...,"[{'name': 'Sandollar Productions', 'id': 5842}...",...,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173,1995,NaN

In [178]:
# Filter only on Science Fiction and Fantasy
df_movies_sff = df_movies_metadata[df_movies_metadata['genres'].str.contains("Science Fiction|Fantasy")]
df_movies_sff.shape

(4844, 23)

In [179]:
# Let's explore our dataset again
df_movies_sff.head()

,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,poster_path,production_companies,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,en,When siblings Judy and Peter discover an encha...,17.0155,http://image.tmdb.org/t/p/w185//vzmL6fP7aPKNKP...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",...,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,1995,4.043035
23,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,en,Harassed by classmates who won't accept his sh...,12.1331,http://image.tmdb.org/t/p/w185//1uRKsxOCtgz0xV...,"[{'name': 'Caravan Pictures', 'id': 175}, {'na...",...,111,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143,1995,NaN
28,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,fr,A scientist in a surrealist society kidnaps ch...,9.82242,http://image.tmdb.org/t/p/w185//eVo6ewq4akfyJY...,"[{'name': 'Procirep', 'id': 311}, {'name': 'Co...",...,108,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308,1995,0.096589
31,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,en,"In the year 2035, convict James Cole reluctant...",12.2973,http://image.tmdb.org/t/p/w185//6Sj9wDu3YugthX...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,129,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470,1995,5.723390
33,"{'id': 9435, 'name': 'Babe Collection', 'poste...",30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,en,Babe is a little pig who doesn't quite know hi...,14.4048,http://image.tmdb.org/t/p/w185//gN6X3fwPya8pLf...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,89,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,False,6.0,756,1995,8.471164

In [180]:
# Sub-genre List
# - alien (Alien)
# - monster (Monster)
# - space (Space Opera)
# - robot (AI/Robot)
# - time_travel (Time Travel)
# - super (Superheroes)
# - dystopian (Dystopian)
# - fantasy (Fantasy)
# - techno (Technology Thriller)
# Approach: Create new column called sub_genres
# if overview column contains word, append that word + '/' to the cell in sub_genres

# Create new column called sub_genres
df_movies_sff['sub_genres'] = ''

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [181]:
def search(df, *words):  #1
    """
    Return a sub-DataFrame of those rows whose column match any of the words.
    """
    return df[np.logical_or.reduce([df.select_dtypes(include=[object]).stack().\
                                    str.contains(word, case=False, na=False).unstack().any(1) for word in words])]   # 2

In [182]:
df_movies_sff.head()

,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,poster_path,production_companies,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return,sub_genres
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,en,When siblings Judy and Peter discover an encha...,17.0155,http://image.tmdb.org/t/p/w185//vzmL6fP7aPKNKP...,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,1995,4.043035,
23,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,en,Harassed by classmates who won't accept his sh...,12.1331,http://image.tmdb.org/t/p/w185//1uRKsxOCtgz0xV...,"[{'name': 'Caravan Pictures', 'id': 175}, {'na...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143,1995,NaN,
28,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,fr,A scientist in a surrealist society kidnaps ch...,9.82242,http://image.tmdb.org/t/p/w185//eVo6ewq4akfyJY...,"[{'name': 'Procirep', 'id': 311}, {'name': 'Co...",...,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308,1995,0.096589,
31,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,en,"In the year 2035, convict James Cole reluctant...",12.2973,http://image.tmdb.org/t/p/w185//6Sj9wDu3YugthX...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470,1995,5.723390,
33,"{'id': 9435, 'name': 'Babe Collection', 'poste...",30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,en,Babe is a little pig who doesn't quite know hi...,14.4048,http://image.tmdb.org/t/p/w185//gN6X3fwPya8pLf...,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,False,6.0,756,1995,8.471164,

In [183]:
search(df_movies_sff, 'saucer', 'alien', 'life', 'human', 'extraterrestrial', 'ufo', 'parasite'\
                        'meteorite', 'meteor').index

Int64Index([   23,    43,    59,    75,   155,   157,   169,   193,   198,
              224,
            ...
            45191, 45203, 45337, 45346, 45353, 45356, 45375, 45429, 45444,
            45445],
           dtype='int64', length=1505)

In [184]:
df_movies_sff.loc[search(df_movies_sff, 'saucer', 'alien', 'life', 'human', 'extraterrestrial', 'ufo', 'parasite'\
                        'meteorite', 'meteor').index, 'sub_genres'] = 'alien/'

In [185]:
df_movies_sff.loc[search(df_movies_sff, 'luke', 'star', 'spaceship', 'battle', 'interstellar', 'planet', 'enterprise', 'skywalker', 'darth', 'droid'\
                        'earth', 'spock', 'kirk', 'space', 'capt', 'moon', 'spacecraft', 'crew', 'comet', 'mars').index, 'sub_genres'] \
= df_movies_sff['sub_genres'].astype(str) + 'space/'

In [186]:
df_movies_sff.loc[search(df_movies_sff, 'cop', 'ai', 'cyborg', 'terminator', 'army', 'android', 'weapon', 'robot', 'intelligence', 'machine').index, 'sub_genres'] \
= df_movies_sff['sub_genres'].astype(str) + 'robot/'

In [187]:
df_movies_sff.loc[search(df_movies_sff, 'travel', 'time', 'back', 'frozen').index, 'sub_genres'] \
= df_movies_sff['sub_genres'].astype(str) + 'time_travel/'

In [188]:
df_movies_sff.loc[search(df_movies_sff, 'marvel', 'superman', 'superpower', 'super').index, 'sub_genres'] \
= df_movies_sff['sub_genres'].astype(str) + 'super/'

In [189]:
df_movies_sff.loc[search(df_movies_sff, 'virus', 'future', 'nuclear', 'city', 'epidemic', 'prison', 'dark', 'murder', 'evil', 'violence', 'experiment'\
                        'totalitarian', 'society', 'post-apocalyptic', 'dystopian', 'experiments', 'sinister', 'futuristic', \
                        'radiation', 'biblical', 'mysterious', 'military', 'spy', 'heavenly', 'cloning', 'nazi', 'reich',\
                        'death', 'war', 'drug', 'wasteland').index, 'sub_genres'] \
= df_movies_sff['sub_genres'].astype(str) + 'dystopian/'

In [190]:
df_movies_sff.loc[df_movies_sff['genres'].str.contains("Fantasy", case='False', na=False), 'sub_genres'] = df_movies_sff['sub_genres'].astype(str) + 'fantasy/'

In [191]:
df_movies_sff.loc[search(df_movies_sff, 'frankenstein', 'vampire', 'werewolf', 'shark', 'spider', 'zombie', 'blob', 'creature', 'troll', 'gypsy', 'ape'\
                        'dinosaur', 'jurrasic', 'scientist', 'swamp', 'dinosaurs', 'monster', 'octopus', 'godzilla', 'scorpion',\
                        'ants', 'golem', 'giants', 'serpent', 'crocodile', 'bermuda').index, 'sub_genres'] \
= df_movies_sff['sub_genres'].astype(str) + 'monster/'

In [192]:
df_movies_sff.loc[search(df_movies_sff, 'computer', 'cyber', 'matrix', 'chip', 'network', 'serum', 'data', 'virtual', 'reality', 'laser', 'video', 'game'\
                        'player', 'tech', 'memory').index, 'sub_genres'] \
= df_movies_sff['sub_genres'].astype(str) + 'techno/'

In [193]:
df_movies_sff['sub_genres'].value_counts()

fantasy/                                                         166
robot/fantasy/                                                   151
robot/dystopian/fantasy/                                         151
robot/dystopian/                                                 130
robot/time_travel/dystopian/fantasy/                             125
dystopian/fantasy/                                               108
dystopian/                                                        92
robot/time_travel/dystopian/                                      87
robot/time_travel/fantasy/                                        87
robot/                                                            79
time_travel/fantasy/                                              72
space/robot/time_travel/dystopian/fantasy/                        69
space/robot/dystopian/                                            69
alien/space/robot/dystopian/                                      63
                                                                  60
space/robot/fantasy/                                              59
time_travel/dystopian/fantasy/                                    59
space/robot/time_travel/dystopian/                                58
alien/robot/dystopian/                                            56
alien/robot/fantasy/                                              50
robot/time_travel/dystopian/monster/                              49
space/robot/dystopian/fantasy/                                    48
robot/time_travel/                                                47
space/robot/                                                      46
alien/space/robot/time_travel/dystopian/                          44
robot/dystopian/monster/                                          43
robot/time_travel/dystopian/fantasy/monster/                      41
alien/robot/dystopian/fantasy/                                    41
alien/robot/                                                      40
alien/robot/time_travel/dystopian/fantasy/                        40
                                                                ...
alien/space/time_travel/super/dystopian/monster/                   1
alien/space/robot/time_travel/super/dystopian/monster/             1
alien/robot/monster/techno/                                        1
space/robot/time_travel/super/dystopian/techno/                    1
alien/space/robot/super/dystopian/fantasy/techno/                  1
alien/robot/time_travel/super/fantasy/                             1
alien/super/techno/                                                1
alien/space/time_travel/super/                                     1
robot/super/dystopian/fantasy/monster/                             1
space/robot/time_travel/fantasy/monster/techno/                    1
super/fantasy/techno/                                              1
alien/time_travel/super/dystopian/fantasy/monster/                 1
alien/space/time_travel/dystopian/fantasy/techno/                  1
space/time_travel/super/dystopian/                                 1
alien/space/super/dystopian/fantasy/                               1
space/robot/time_travel/super/fantasy/monster/                     1
robot/super/techno/                                                1
alien/super/                                                       1
alien/space/robot/super/dystopian/fantasy/monster/                 1
space/robot/time_travel/super/dystopian/monster/                   1
alien/space/robot/time_travel/super/dystopian/monster/techno/      1
alien/space/time_travel/super/monster/                             1
space/time_travel/dystopian/fantasy/monster/techno/                1
alien/space/robot/fantasy/monster/techno/                          1
alien/space/robot/time_travel/super/dystopian/fantasy/techno/      1
alien/super/dystopian/                                             1
alien/space/time_travel/super/dystopian/techno/                    1
alien/robot/super/dystopian/techno/                                1
space/super/fantasy/                                               1
alien/space/time_travel/dystopian/fantasy/monster/techno/          1
Name: sub_genres, dtype: int64

In [194]:
# number of empty sub_genres remaining
(df_movies_sff['sub_genres'].values == '').sum()

60

In [195]:
# we still need to do some work here... label the rest of the movies with sub_genres
df_movies_sff.loc[df_movies_sff['sub_genres'].values=='']

,belongs_to_collection,budget,genres,homepage,id,original_language,overview,popularity,poster_path,production_companies,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return,sub_genres
4805,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,33356,en,The exploration of the effects of an unexpecte...,0.866004,http://image.tmdb.org/t/p/w185//pJ5ftKZSO7by9G...,"[{'name': 'British Film Institute (BFI)', 'id'...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Falls,False,8.0,9,1980,NaN,
4856,NaN,4500000,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",NaN,27150,en,A Texas sheriff tries kung fu on an ax killer ...,1.80861,http://image.tmdb.org/t/p/w185//AaUhLHvpyqrUVb...,"[{'name': 'Columbia Pictures Corporation', 'id...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,He's an indestructible man fused with powers b...,Silent Rage,False,5.0,22,1982,2.333333,
7250,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,68347,en,"A growth hormone experiment gets out of hand, ...",1.15988,http://image.tmdb.org/t/p/w185//gVYpeXiLlRdx5h...,"[{'name': 'New Line Cinema', 'id': 12}, {'name...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It's their party... you can die if you want to.,Food of the Gods II,False,5.8,8,1989,NaN,
7631,NaN,950000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,29146,en,An experiment on a simpleton turns him into a ...,2.52616,http://image.tmdb.org/t/p/w185//4FVbPUkLohHAlM...,"[{'name': 'ABC Pictures', 'id': 634}, {'name':...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A love story that begins with an incredible ex...,Charly,False,6.6,28,1968,0.857543,
8187,NaN,7000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.primermovie.com,14337,en,Friends/fledgling entrepreneurs invent a devic...,7.15307,http://image.tmdb.org/t/p/w185//pYiAYDn3ltw9Fq...,"[{'name': 'Thinkfilm', 'id': 446}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What happens if it actually works?,Primer,False,6.9,671,2004,60.680000,
9421,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",NaN,100594,fi,NaN,0.203204,http://image.tmdb.org/t/p/w185//juhxfyFyQ7MXFL...,[],...,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,NaN,The Book of Fate,False,3.5,2,2003,NaN,
10531,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,38761,en,Giant mutant rabbits terrorize the southwest!!,1.17981,http://image.tmdb.org/t/p/w185//4ldYhM4swXlzBn...,"[{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,How many eyes does horror have?,Night of the Lepus,False,4.9,25,1972,NaN,
11324,NaN,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 27, '...",NaN,3593,en,Four explorers are summoned to Peru by the bri...,0.662919,http://image.tmdb.org/t/p/w185//5bUdwNdumc2cPz...,"[{'name': 'Paramount Pictures', 'id': 4}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dr. Cyclops,False,6.1,15,1940,NaN,
11584,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,3024,en,No overview found.,0.424452,http://image.tmdb.org/t/p/w185//8byiRQ9kv2TUGn...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Strange Case of Dr. Jekyll and Mr. Hyde,False,0.0,0,1968,NaN,
12297,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45871,cn,"Triad boss Lung (Eddy Ko), who has just escape...",1.53192,http://image.tmdb.org/t/p/w185//zmMjY2I8Aj8TG1...,"[{'name': 'Milky Way Image Company', 'id': 5632}]",...,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}]",Released,NaN,The Mission,False,6.7,24,1999,NaN,
13024,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,2397,en,No overview found.,1.68743,http://image.tmdb.org/t/p/w185//zU9hKyOjiR8NUp...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Fallout,False,0.0,0,1998,NaN,
14442,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,112687,en,The waters surrounding an island become contam...,0.842879,http://image.tmdb.org/t/p/w185//tuyJVMke3D9esB...,"[{'name': 'Tigon British Film Productions', 'i...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An ecological nightmare gone berserk!,Doomwatch,False,7.4,7,1972,NaN,
15235,NaN,100000,"[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",http://halo.xbox.com/en-us/halolegends,31261,en,Halo Legends is an unprecedented gathering of ...,1.73153,http://image.tmdb.org/t/p/w185//bSmGcO7miodvLr...,"[{'name': 'Microsoft', 'id': 5133}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Seven stories from the heart of the Halo universe,Halo Legends,False,6.9,25,2010,10.000000,
15360,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,8652,ko,"In the aftermath of a car crash, a man discove...",0.862305,http://image.tmdb.org/t/p/w185//fwGaqe9YWSHSQZ...,"[{'name': 'Kim Ki-Duk Film', 'id': 684}, {'nam...",...,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,A dream is a dream is a dream.,Dream,False,6.2,11,2008,NaN,
16391,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,21136,ja,The Taste of Tea director Katsuhito Ishii coll...,1.49222,http://image.tmdb.org/t/p/w185//vLCLqZugcLEhoP...,"[{'name': 'Aoi Promotion', 'id': 39804}]",...,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Funky Forest: The First Contact,False,6.0,15,2005,NaN,
16902,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",NaN,68629,en,"When an unhappy young woman disappears, her wo...",0.091066,http://image.tmdb.org/t/p/w185//bMIFDandBt4ggi...,"[{'name': 'Keep Your Head Productions', 'id': ...",...,[],Released,NaN,Happy Here and Now,False,0.0,0,2002,NaN,
17855,NaN,7000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.generationp.ru/,63375,ru,A chronicle of Russia's transition from commun...,1.53798,http://image.tmdb.org/t/p/w185//b8yUnE1wPHEf2u...,"[{'name': 'Gorky Film Studio', 'id': 3681}]",...,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Generation P,False,5.6,17,2011,NaN,
18246,NaN,3100000,"[{'id': 10749, 'name': 'Romance'}, {'id': 878,...",NaN,59457,en,A woman's consuming love forces her to bear th...,7.27992,http://image.tmdb.org/t/p/w185//2GMVSKD1LkVckw...,"[{'name': 'Razor Film Produktion GmbH', 'id': ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What are the consequences of giving birth to y...,Womb,False,5.9,95,2010,NaN,
18468,NaN,NaN,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",NaN,35663,en,When the cable breaks on their diving bell fou...,0.329719,http://image.tmdb.org/t/p/w185//uJhnIZJaaYPR0R...,"[{'name': 'GBM Productions', 'id': 13746}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,See women trapped in fantastic caverns at the ...,The Incredible Petrified World,False,3.1,8,1957,NaN,
19253,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 878, 'na...",NaN,49084,en,A French comedy with comedians Eric &amp; Ramz...,2.6692,http://image.tmdb.org/t/p/w185//rdPGeN2PXbmhBh...,[],...,[],Released,NaN,Steak,False,5.1,51,2007,NaN,
19923,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,57529,en,A group of passengers plot their escape off a ...,0.900107,http://image.tmdb.org/t/p/w185//vCTvHz7NW10kco...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Ghost Voyage,False,5.4,10,2008,NaN,
20117,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",NaN,177522,fi,NaN,0.073825,http://image.tmdb.org/t/p/w185//oAUq5rhZEjDz9h...,[],...,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,NaN,Lipton Cockton in the Shadows of Sodoma,False,6.0,1,1995,NaN,
20753,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}]",http://www.kami-puzzle.com/,55956,ja,A set of twins -- one a hard-working student a...,0.974418,http://image.tmdb.org/t/p/w185//f819TgXXYeTQ6M...,[],...,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,God's Puzzle,False,6.2,3,2008,NaN,
22304,NaN,600000,"[{'id': 53, 'name': 'Thriller'}, {'id': 878, '...",http://www.fase7.com/,69278,es,Inside a quarantined apartment building a man ...,1.98512,http://image.tmdb.org/t/p/w185//fjl7JyHHQIiZfL...,[{'name': 'Instituto Nacional de Cine y Artes ...,...,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,Phase 7,False,4.9,23,2011,NaN,
22332,NaN,NaN,"[{'id': 53, 'name': 'Thriller'}, {'id': 878, '...",NaN,62989,en,"As the permafrost melts in Alaska, underground...",2.56785,http://image.tmdb.org/t/p/w185//bTBh7ZpL0H01hV...,"[{'name': 'Quake Productions', 'id': 40716}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Ice Quake,False,3.8,28,2010,NaN,
22333,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",http://www.snowbeastmovie.com/,78362,en,People disappear every year out in the snow--b...,1.72501,http://image.tmdb.org/t/p/w185//6TsH8E5hFF7O25...,"[{'name': 'Silver Peak Productions', 'id': 499...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Survival Is Everything,Snow Beast,False,3.3,14,2011,NaN,
22814,NaN,20000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.lovestory2050.com/,20493,hi,No overview found.,0.304988,http://image.tmdb.org/t/p/w185//og9uH3LXux775c...,"[{'name': 'Baweja Movies', 'id': 3786}]",...,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Love Story 2050,False,3.6,8,2008,0.250000,
22818,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,418029,es,NaN,0.001884,http://image.tmdb.org/t/p/w185//k0YJzGkxXjzgfU...,"[{'name': 'TOHO', 'id': 51905}, {'name': 'subu...",...,[],Released,NaN,Ultraman,False,0.0,0,1967,NaN,
23228,NaN,1000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://inyoureyesmovie.com,226448,en,Two seemingly unconnected souls from different...,8.44852,http://image.tmdb.org/t/p/w185//fpnChMdV6Qin4r...,"[{'name': 'Night and Day Pictures', 'id': 2413...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Two strangers. One extraordinary connection.,In Your Eyes,False,7.1,275,2014,NaN,
24114,NaN,NaN,"[{'id': 99, 'name': 'Documentary'}, {'id': 878...",NaN,16091,en,Aftermath: Population Zero investigates what w...,1.32862,http://image.tmdb.org/t/p/w185//bUSKh0ZwY70lyd...,"[{'name': 'Cream Productions', 'id': 3136}]",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Aftermath: Population Zero,False,6.7,11,2008,NaN,
24814,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,90652,de,F.M. discovers that different sonic frequencie...,0.536458,http://image.tmdb.org/t/p/w185//4ZxDNeSeB4ewO8...,"[{'name': 'Fett Film', 'id': 52828}]",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Decoder,False,6.3,6,1984,NaN,
25396,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",http://doubleedgefilms.com,305127,en,Two strangers find their lives colliding in an...,1.19951,http://image.tmdb.org/t/p/w185//qojtBwWfZLbEJb...,"[{'name': 'Double Edge Films', 'id': 21733}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Frame,False,6.5,25,2014,NaN,
25590,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,158828,en,Incited by a disillusioned young man who has d...,0.016023,http://image.tmdb.org/t/p/w185//xctDqlwRd2SeIR...,"[{'name': 'Box Office Spectaculars', 'id': 4758}]",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Right-On!,An American Hippie in Israel,False,5.5,2,1972,NaN,
25717,NaN,NaN,"[{'id': 16, 'name': 'Animation'}, {'id': 878, ...",NaN,248833,en,A game of football turns deadly as an uninvite...,0.045882,http://image.tmdb.org/t/p/w185//9W7iiRQvyHuTd5...,[],...,[],Released,NaN,Everything I Can See From Here,False,4.0,1,2013,NaN,
26948,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,62347,it,The year is 2049. 200 years after the great Ca...,0.469421,http://image.tmdb.org/t/p/w185//nMX57uQidKmpBy...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Precious Find,False,4.3,2,1996,NaN,
28008,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,16925,en,An ancient pestilence called The Scourge has b...,0.884333,http://image.tmdb.org/t/p/w185//fldHa58qXTyVx8...,"[{'name': 'PHD Productions', 'id': 69262}]",...,[],Released,NaN,Scourge,False,4.0,11,2008,NaN,
29010,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,328595,en,An underground MMA fighter must confront his s...,4.08126,http://image.tmdb.org/t/p/w185//j7a8OZ408LlP8v...,"[{'name': 'Fox Digital Studios', 'id': 25250}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Parallels,False,6.2,148,2015,NaN,
29531,NaN,NaN,"[{'id': 16, 'name': 'Animation'}, {'id': 18, '...",NaN,28969,en,A lonely boy wins over his distant father and ...,0.74021,http://image.tmdb.org/t/p/w185//uiN9N7jOFnNTuY...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All You Need to Do is Believe.,The Velveteen Rabbit,False,7.8,9,2009,NaN,
29714,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,335819,ru,Nurick and Yaroslav are trying to robe a crimi...,1.07815,http://image.tmdb.org/t/p/w185//7GjJbXqGwg0S6a...,"[{'name': 'RSS Production', 'id': 52295}]",...,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,B/W,False,5.2,6,2015,NaN,
31117,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,37789,ja,A young female agent with a powerful psionic p...,0.134032,http://image.tmdb.org/t/p/w185//zLzNUCHBRfmnlw...,"[{'name': 'Studio DEEN', 'id': 8182}]",...,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,R.O.D - Read or Die,False,5.0,3,2001,NaN,
31733,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,70583,en,A suspenseful drama about a young couple on a ...,0.30596,http://image.tmdb.org/t/p/w185//9F6qZ7xX1GvEcj...,[],...,[],Released,Where will you be when it runs out?,Empty,False,4.0,6,2011,NaN,
31883,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,68712,en,"Lonny Smith, a young man with a suitcase full ...",1.44689,http://image.tmdb.org/t/p/w185//iyTEnhwLWBkliq...,"[{'name': 'Lunaflux Productions', 'id': 7583}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Who say you only die once?,The Lazarus Papers,False,4.6,8,2009,NaN,
34713,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,238307,ru,"A musical partially based on a sci-fi novel ""T...",0.051647,http://image.tmdb.org/t/p/w185//uvtsTpqy60si6X...,"[{'name': 'Lenfilm', 'id': 10845}, {'name': 'G...",...,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,The Isle of Lost Ships,False,3.0,1,1987,NaN,
36310,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://terugnaarmorgen.be/nl/,361183,nl,What would you do if you could change the past?,0.404432,http://image.tmdb.org/t/p/w185//ynhBJc7XGUJcUc...,"[{'name': 'Caviar Content, Pupkin Film', 'id':...",...,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,NaN,Sum of Histories,False,10.0,1,2015,NaN,
39197,NaN,2004384,"[{'id': 878, 'name': 'Science Fiction'}]",http://brandnew-u.com/,343724,en,Identicals is a highly unconventional romantic...,1.090345,http://image.tmdb.org/t/p/w185//rtiKN28y3J1NVE...,"[{'name': 'Hot Property Films', 'id': 4304}, {...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,None of us are as unique as we hope,Identicals,False,4.1,13,2015,NaN,
39235,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,89662,en,A stone-encrusted body is unearthed at Pompeii...,0.259001,http://image.tmdb.org/t/p/w185//spOquowSZMTt1J...,"[{'name': 'Robert E. Kent Productions', 'id': ...",...,"[{'iso_639_1': 'it', 'name': 'Italiano'}, {'is...",Released,Entombed for eons - turned to stone - seeking ...,Curse of the Faceless Man,False,5.3,6,1958,NaN,
42428,NaN,NaN,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,437122,en,Sci-fi end of the world drama,0.048262,http://image.tmdb.org/t/p/w185//7FHxlNOKHmtZwp...,[],...,[],Released,Unplanned Unwanted,Third Guest,False,0.0,0,2016,NaN,
42509,NaN,NaN,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",NaN,416688,en,A family of three young sisters live out their...,0.805734,http://image.tmdb.org/t/p/w185//p3zcRov2GIDwL3...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Tribe,False,5.3,3,2016,NaN,
42595,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,438597,ru,"Igor Grom, a skilled detective from St. Peters...",0.874297,http://image.tmdb.org/t/p/w185//5gLABGKMMaUbod...,"[{'name': 'BUBBLE Studios', 'id': 86050}]",...,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Major Grom,False,6.6,14,2017,NaN,
42998,NaN,12,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,25610,en,The small town of Haven becomes a hot-bed of i...,9.156782,http://image.tmdb.org/t/p/w185//7r9Ym2elnrDg4I...,"[{'name': 'Konigsberg/Sanitsky Company', 'id':...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,You can't run. You can't hide. You can only be...,The Tommyknockers,False,5.1,65,1993,NaN,
43079,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,447758,en,"It's 2067, the UK is vegan, but older generati...",1.336149,http://image.tmdb.org/t/p/w185//8RQM8S8UJmVITc...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Carnage: Swallowing the Past,False,8.3,3,2017,NaN,
43226,NaN,NaN,"[{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...",NaN,381449,de,15 years ago the sea at the coast of Windholm ...,0.452123,http://image.tmdb.org/t/p/w185//hPFwDTjlyHNot1...,"[{'name': 'Rundfunk Berlin-Brandenburg (RBB)',...",...,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,We are the tide,False,5.0,1,2016,NaN,
43439,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,425487,sv,Three students at a Swedish university make a ...,0.106215,http://image.tmdb.org/t/p/w185//cYYfFIjWTWBNHI...,[],...,[],Released,NaN,Origin,False,6.0,1,2016,NaN,
43480,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 878, 'na...",NaN,236053,tr,NaN,0.219218,http://image.tmdb.org/t/p/w185//30Lw7lbSXwm9NU...,[],...,"[{'iso_639_1': 'tr', 'name': 'Türkçe'}]",Released,NaN,Japon İşi,False,6.3,2,1987,NaN,
43904,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.thelastmanonearthmovie.com/,328212,en,The Last Man On Earth is about two teenagers e...,0.330445,http://image.tmdb.org/t/p/w185//AaOXG4XqmIkjpV...,"[{'name': 'Visionary Films', 'id': 47783}]",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Alone. Together.,The Last Man on Earth,False,7.0,1,2014,NaN,
43963,NaN,NaN,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",NaN,362844,en,NaN,0.002603,http://image.tmdb.org/t/p/w185//pe2FQ7L96zkBaL...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Survivor,False,0.0,0,1999,NaN,
44103,NaN,5000000,"[{'id': 28, 'name': 'Action'}, {'id': 10749, '...",NaN,63838,ru,NaN,0.414793,http://image.tmdb.org/t/p/w185//be78nAT5VLN2ET...,"[{'name': 'Kinokompaniya CTB', 'id': 886}]",...,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Mechenosets,False,5.6,7,2006,0.783946,
44301,NaN,NaN,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,341689,en,"A couple of British 1970s teen-aged boys, Enn ...",2.068008,http://image.tmdb.org/t/p/w185//tyCt5dQ2yhfEtW...,"[{'name': 'HanWay Films', 'id': 2395}, {'name'...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some girls are out of this world.,How to Talk to Girls at Parties,False,0.0,10,2017,NaN,
44344,NaN,NaN,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",https://www.ismovies.net/movie/the-gracefield-...,327253,en,"On August 16, 2013, the Supreme Court mandated...",4.184306,http://image.tmdb.org/t/p/w185//lWZsV3dJfpWlEQ...,[],...,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,The Gracefield Incident,False,4.7,26,2017,NaN,
44624,NaN,NaN,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,406990,en,In a world where families are limited to one c...,60.581223,http://image.tmdb.org/t/p/w185//o6EsOqITcSzcdw...,"[{'name': 'Vendome Pictures', 'id': 7460}, {'n...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Seven sisters. One identity.,What Happened to Monday,False,7.3,598,2017,NaN,

In [196]:
df_movies_sff.to_csv('movies_metadata_scififantasy.csv',sep=',')