In [1]:
import pandas as pd
import numpy as np

In [4]:
df_movies_metadata = pd.read_csv('movies_metadata_ratings.csv')

In [5]:
print(df_movies_metadata.columns)

Index([u'Unnamed: 0', u'belongs_to_collection', u'budget', u'genres',
       u'homepage', u'movieId', u'original_language', u'overview',
       u'popularity', u'poster_path', u'production_companies',
       u'production_countries', u'release_date', u'revenue', u'runtime',
       u'spoken_languages', u'status', u'tagline', u'title', u'video',
       u'vote_average', u'vote_count', u'year', u'return', u'rating'],
      dtype='object')

In [7]:
df_movies_metadata.head()

,Unnamed: 0,belongs_to_collection,budget,genres,homepage,movieId,original_language,overview,popularity,poster_path,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,return,rating
0,1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,en,When siblings Judy and Peter discover an encha...,17.015539,http://image.tmdb.org/t/p/w185//vzmL6fP7aPKNKP...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,1995,4.043035,4.125000
1,28,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,fr,A scientist in a surrealist society kidnaps ch...,9.822423,http://image.tmdb.org/t/p/w185//eVo6ewq4akfyJY...,...,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308,1995,0.096589,3.778443
2,31,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,en,"In the year 2035, convict James Cole reluctant...",12.297305,http://image.tmdb.org/t/p/w185//6Sj9wDu3YugthX...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470,1995,5.723390,3.245690
3,44,NaN,20000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,577,en,Susan wants to work in television and will the...,10.448481,http://image.tmdb.org/t/p/w185//zCREx8trzejNie...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All she wanted was a little attention.,To Die For,False,6.7,177,1995,1.064226,2.884615
4,101,NaN,18000000,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",NaN,2045,en,Ray Liotta stars as a medical examiner who has...,2.464425,http://image.tmdb.org/t/p/w185//qQek3X5Yv0iLZq...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He loved her. He lost her. He won't let her me...,Unforgettable,False,5.3,22,1996,NaN,3.323529

In [8]:
df_movies_metadata.shape

(772, 25)